# Node
node_modules/
npm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build
dist/
build/
.vite/

# Local env
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# PDFs (optional)
# *.pdf
